<h3>Demo</h3>

<button id="isVertical" type="button" (click)="toggleOrientation()">Click to change FAB
  orientation
</button>

<fab [vertical]="isVertical">
  <fab-action>
    <i class="fa fa-share"></i>
  </fab-action>
  <fab-sub-action>
    <i class="fa fa-comment" (click)="createComment()"></i>
  </fab-sub-action>
  <fab-sub-action>
    <i class="fa fa-envelope" (click)="createMail()"></i>
  </fab-sub-action>
  <fab-sub-action>
    <i class="fa fa-calendar" (click)="openCalendar()"></i>
  </fab-sub-action>
</fab>
<p>This is the about component!</p>
<div>
  Some sub routes
  <a [routerLink]=" ['Demo1']">SubDemo1</a>
  <a [routerLink]="['Demo2']">SubDemo2</a>
</div>

<router-outlet></router-outlet>
