$size: 50px;
$primary-color: blue;
.fab {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: white;
  cursor: pointer;

  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 100px;
  margin-bottom: 100px;
}
